body{
    background-image: url(pixel_weave.png);
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
    margin-top: 5px !important;
    font-size: small !important
}
.btn-danger {
    color: #5d5b5b;
    background-color: #5cc38a !important;
    border-color: #969291 !important;
}
.navbar-default .navbar-nav>li>a {
    color: #383838 !important;
    font-size: 18px !important;
}

#navbar{
    background: white;
    border: none;
    border-bottom:gray 3px solid;
    font-size: 5vw;
    align-content: center;
    opacity: .8;
   text-align: center;
   
}
.nav>li>a {
    position: relative;
    display: block;
    margin-left:140px;
}
.btn{
    margin-left: 110px;
}
#text{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#title{
background-color: rgba(128, 128, 128, .9);    
border-bottom: white 10px double;
margin: auto;
margin-top: 150px;
text-align: center;
}
.container{
    text-align: center;
   margin: 10px;    
}

.title{
    border-radius: 20px;
    text-align: unset;
    height: 50px;
    border-bottom: 5px inset rgba(0, 0, 0, 0.575);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 8vh;
    
}
.projects{
    color: black;
    
    font-family: 'Raleway', sans-serif;
}


.col-md-6{
    height: 300px;
    border: white 5px double;
    background-color: rgba(128, 128, 128, 0.301);
  border-radius: 20px; 
  
  
}
 
.wrapper{
    margin: 20px;
}
