body{
    background-image: url(grid-3230205_1920.jpg) ;
 background-repeat: no-repeat;
    

}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
   
}
#navbar{
    background: white;
    border-bottom:gray 2px solid;
    font-size: 20px;
    opacity: .9;
   
}
#text{
    font-family: 'Raleway', sans-serif;
}
#text:hover{
    font-size: 21px;
}
#title{
background-color: rgba(128, 128, 128, 0.041);    
border-bottom: rgb(80, 79, 79) 10px double;
margin: auto;
margin-top: 150px;
text-align: center;
}







.name{
    font-size: 7vw;
    color: rgb(78, 78, 78);
    font-family: 'Cinzel', serif;
   
}




 
   
