body{
    background-image: url(water.jpg)
 
}

#navbar{
    background: white;
    border: none;
    border-bottom:gray 5px solid;
    font-size: 25px;
    align-content: center;
    opacity: .8;
   text-align: center;
  
  
}

#text{
   
    font-family: 'Lobster', cursive;
}

#title{

    background-color: rgba(128, 128, 128, .4);    

border-bottom: white 10px double;
margin: auto;
margin-top: 150px;
text-align: center;
}
.name{
    font-size: 7vw;
    color: white;
    font-family: 'Monoton', cursive;
   
}




 
   
